
// Main
@import 'main/main'
// mobile
@import 'mobile/header'
@import 'mobile/_footer'
@import 'mobile/components/button'
@import 'mobile/pages/index'
@import 'mobile/pages/login'
@import 'mobile/pages/registro'
@import 'mobile/pages/_nuevoContacto'
@import 'mobile/pages/_contactos'
@import 'mobile/pages/_detalle-contacto'


.main-container
  margin: 0 auto
  padding: 1rem

// hr
hr
  border: (.1px solid $color__gray)
  margin-top: .5rem

// Contacto display
// contacto único
.contacto__box
  background-color: $color__white
  display: flex
  align-items: center
  box-shadow: 5px 5px 5px $color__D8gray
  margin-bottom: .5rem
  width: 19.5rem
  height: 4rem

.contacto__img
  width: 3.5rem
  height: 3.5rem
  border-radius: 150px
  padding: .3rem
  margin-right: 1rem

.contacto__info
  margin-top: .4rem
