// Tipografias que tendrá cada elemento (para @font-face ir a _font.sass)

// login.
.form__input-text
  font-family: "Jost"
  font-size: 0.875rem
  font-weight: 500

.form__input-cbtext
  font-family: "Jost"
  font-size: .875rem
  font-weight: 500

.text__question-acc
  font-family: "Inter"
  font-weight: 500
  font-size: .875rem

.text__question-pw
  font-family: "Jost"
  font-weight: 500
  font-size: .875rem

  // registro
.registro__form_input-text
  font-family: "Jost"
  font-size: 0.875rem
  font-weight: 500

  //bottom button login,sign up, newUser
.login__button-input
  font-family: "Inter"
  font-weight: 500
  font-size: 0.875rem
