// Header contactos

.contactos__header-items
  @include flex(space-between, center, row)
  .contactos__header-img
    width: 2rem
    height: 2rem

// Buscador
.contactos__search-box
  width: 95%
  background-color: $color__F2gray
  height: 2rem
  border: none
  border-radius: .3rem
  margin-bottom: .4rem
  margin-top: 1rem

// Aside
aside
  padding: .2rem
  float: right
  width: 1.3rem
  overflow: auto
  height: 31.5rem
.contactos__aside-ul
  list-style: none
  padding: .1rem
li
  padding: .5rem


// Contactos Overflow
.contactos__overflow
  overflow: auto
  height: 32rem

// contacto único
.contacto__box
  background-color: $color__white
  display: flex
  box-shadow: 5px 5px 5px $color__D8gray
  margin-bottom: .5rem
  width: 19.5rem
  height: 4rem

.contacto__img
  width: 3.5rem
  height: 3.5rem
  border-radius: 150px
  padding: .3rem
  margin-right: 1rem

.contacto__info
  margin-top: .4rem



